.page2 {
   display: grid;
}
.page-container {
   display: flex;
   justify-content: flex-start;
}

.page-view {
   display: flex;
   justify-content: flex-start;
   transition: all 0.5s;
}
.page-btns {
   position: fixed;
   display: flex;
   height: 50px;
   right: 878px;
   top: 668px;
   opacity: 0.7;
}

.page-btns:hover {
   opacity: 1;
}

.page-btns button {
   margin-left: 5px;
}

.view-item {
   position: fixed;
   top: 20px;
   right: 50px;
   width: 300px;
   height: 360px;
}

.filter {
   position: fixed;
   top: 410px;
   right: 50px;
   background-color: #d2d2d2;
   height: 230px;
   display: flex;
   justify-content: center;
   align-items: center;
}

#page-number{
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-left: 5px;
   font-weight: bold;
}


.active-pagination{
   background-color: green;
}